{{ define "main" -}}
<div class="list-group">
	{{ range .Site.Params.works }}
	<a href="{{ .url }}" class="list-group-item list-group-item-action">
		<div class="d-flex flex-row bd-highlight mb-3">
			<div class="p-2 bd-highlight">
				<h5 class="mb-1">{{ .name }}</h5>
			</div>

			<div class="p-2 bd-highlight">
				<small>{{ .date }}公開</small>
			</div>
		</div>
		<div class="d-flex flex-row bd-highlight mb-3">
			<div class="p-2 bd-highlight">
				<img src="{{ .image }}" class="subimg" />
			</div>
			<div class="d-flex p-2 bd-highlight box">
				<div class="box-height">
					<p class="mb-1">{{ .description }}</p>
					<small>作成者：{{ .author }}</small>
				</div>
			</div>
		</div>
	</a>
	{{- end }}
</div>
{{- end }}